<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QA Learning</title>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="icon" href="/static/assets/favicon.ico">
</head>

<body>
  <div id="wrapper">
    {{template "header" . }}
    <div id="container">
          This is hello from HTML page.
          <br>
          <br> {{ .User.FirstName }}
          <br> {{ .User.LastName }}
    </div>
    {{template "footer" . }}
  </div>
</body>

</html>